.answer {
  display: inline-block;
  line-height: 70px;
  width: 350px;
  height: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 15px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  border: 1px solid ;
  }

.answer:hover {
  background-color: #96d9e2;
  box-shadow: 0px 15px 20px rgba(46, 186, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
.question-gage-bar-2{
  width: 38px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-3{
  width: 57px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-4{
  width: 76px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-5{
  width: 95px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-6{
  width: 114px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-7{
  width: 133px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-8{
  width: 152px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-9{
  width: 171px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.question-gage-bar-10{
  width: 190px;
  display: block;
  height: 2px;
  background-color: #b0e0e6;
}
.img{
  width: 160px;
  height: 160px;
}